* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

button {
    font-family: "Poppins", sans-serif;
    border: none;
    cursor: pointer;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    /* For <a> use */
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    /* Text */
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    /* Button */
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

/* ====== HEADER ====== */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    /* padding-top of .header. body 
    (-) top of this (negative value)
    = top-height when it's sticky-ed */
    top: -28px;
    /* make it on top */
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    /* Don't let the header too close
    to the top when sticky-ing */
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    /* Use this for avoid text moving instead of font-weight*/
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .signup-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* ====== HERO ====== */
.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero Left */
.hero .media-block {
    position: relative;
    width: 48.72%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    /* Exclude the white-space
    of inline elements */
    vertical-align: bottom;
    /* or we can use
    display: block; */
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    /* Design */
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 14px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
    /* Centering icon */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Hero Right */
.hero .content-block {
    width: 51.28%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    /* This margin will collapse 
    .desc margin */
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    font-size: 1.8rem;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: transparent;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video .label {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Stats */
.hero .stats {
    margin: 8px 0px 0px -28px;
}
.hero .stats strong {
    padding: 0 14px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* ====== POPULAR ====== */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
}

.popular-top .controls {
    display: flex;
    align-items: center;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
}

.popular-top .control-btn:hover {
    /* Reverse color */
    color: white;
    background-color: var(--primary-color);
}

/* Course list */
.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item:hover {
    border-color: transparent;
    /* We use transparent instead of 
    removing the color to avoid the 
    item's moving (like text underline) */
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .course-item .head,
.popular .course-item .rating,
.popular .course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .thumbnail {
    margin: -1px;
    width: calc(100% + 2px);
    /* The margin and the +2px 
    make the border inside the thumbnail*/
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .title a,
.popular .course-item .price {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .rating .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}
.popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
}

/* Foot of Course Item */
.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}
